# ======================
# Node / Express
# ======================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ======================
# Variables d'environnement
# ======================
src/config/env/.env
src/config/env/.env.dev
src/config/env/.env.prod
note.txt

# ======================
# Logs
# ======================
logs/
*.log