body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #3a2fce;
}


table, th, td{
  border: solid 1px black;
  padding: .5em;
  border-collapse: collapse;
}

